<h1>Listing projects</h1>

<% @projects.each do |project| %>
	 	<div class ="portfolio-box">
		<h3><%= link_to project.name, project %></h3>

    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
	</div>

<% end %>


<%= link_to 'New Project', new_project_path %>
