<h1>Crowd Chirp</h1>

<div class="left_side">
<p>Crowd Chirp is a social media management tool for small business who don't have the resources to run a powerful social media campaign.  Whether the problem is money, time or knowledge, Crowd Chirp can help small businesses through its unique crowdsourced platform.</p>
<br>
<p>I have been slowly building the back-end of the website.  The biggest challenges I have faces so far are having multiple user roles and positions and how to assign roles and positions to the users.  I've also strengthened my HTML and CSS skills because I've gone through multiple iterations of landing pages.  One thing I realized while making these landing pages is how much time you spend on the front-end if you aren't an expert front-end developer.</p>
<br>
<p>I set up the site on Heroku and  have been using git for version control.  I've had to merge branches with many updates, as well as manage the different version I have in production and development.  I was able to setup my email with google apps, and plan to implement automatic outgoing emails by using sendgrid.</p>
<br>
<p>If you are interested in using Crowd Chirp, please visit the landing page here: <%= link_to "Crowd Chirp Social Media", "http://www.crowdchirp.com", :target => "blank" %>.  If you would have any interest in learning more about the project, collaborating on it, or partnering with me, please contact me by email.</p>
</div>
<div class="right_side">
	<%=link_to (image_tag "crowdchirp_small.png"), "http://www.crowdchirp.com", :target => "blank" %>
	<h3>Skills Needed</h3>
	<ul>
		<li>Ruby on Rails</li>
		<li>User Authentication</li>
		<li>User Authorization</li>
		<li>Advanced Model Assocations</li>
		<li>Version Control</li>
	</div>
	