<h2>Web Applications</h2>

<a href="/crowdchirp">
	<div class ="portfolio-box one">
		<!-- <h3>Crowd Chirp</h3> -->
	</div>
</a>

<a href="/wordzies">
	<div class ="portfolio-box two">
		<!-- <h3>Wordzies</h3> -->
	</div>
</a>

<a href="/gear-search">
	<div class ="portfolio-box three">
	<!-- <h3>Gear Search</h3> -->
	</div>
</a>

<a href="/burger-quest">
	<div class ="portfolio-box">
		<!-- <h3>Burger Quest</h3> -->
	</div>
</a>

<div class="clear">
</div>

<h2>Product Design</h2>

<a href="/retail-displays">
	<div class ="portfolio-box">
		<!-- <h3>Retail Displays</h3> -->
	</div>
</a>

<a href="/attimo">
	<div class ="portfolio-box">
		<!-- <h3>Freelance at Attimo</h3> -->
	</div>
</a>


</div>