#footer {width:960px; background: #555; height:45px; margin:-65px auto 0px auto; border-radius:4px 4px 0px 0px; padding:10px 0px 10px 0px}

.social-media-links {float:right}
.social-media-links {float:right}
.social-media-links ul li {float:left}
.social-media-links ul li img {width:48px}
.social-media-links ul li .github_icon {width:44px; margin:1px 4px 0px 0px}