// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-condensed {max-width:600px; margin:10px auto 0px auto; /*border:1px solid #ccc;*/ /*border-radius:4px; padding:5px;*//* background: -webkit-linear-gradient(top, #fff, #eee);*/; border-bottom:3px solid #ddd; padding-bottom:10px}
.post-condensed h2 a {line-height:30px; font-size:20px; float:left; color:#222}
.date {float:left; line-height:30px; margin-left:10px}
.post-overview {font-size:14px; }

.show-post {max-width:600px; margin:0px auto}
.post-title {margin:10px 0px}
.post-body {font-size:14px; margin-bottom:10px;}
.show-post .back {line-height:30px}