<body>
	<div id="resume">
		<div id="wrapper">
	<!-- # **********  header  ********** -->
		<header>
			<h1> Kevin F. Hoffman</h1>
				<div class="contact">
					<address>116 S. I-Oka Avenue, Mount Prospect, Illinois 60056</address>
					<tel>847.420.4170</tel>
					<email>khoffma4@gmail.com</email>
				</div>
			</header>
			
	<!-- # **********  summary  ********** -->
	
		<h2>CAREER SUMMARY</h2>
			<p>Entry-level web developer with a solid foundation in rails.  Highly technical and analytical past as a mechanical engineer will lend towards ability to succeed in web development.  A self-starter with a passion for learning, a strong business sense, and excellent communication skills.</p>

<!-- # **********  qualifications  ********** -->

		<h2>EDUCATION</h2>
			<div class="education"> 
				<div class="education_header">
					<div class="school">
						<h3>Code Academy</h3>
					</div>	
					<date>January 2012 - March 2012</date>
				</div>
<div class="clear"></div>
				<p>Ruby on Rails Course Covering:</p>
				<div class="class_list">
					<ul>
						<li>Ruby</li>
						<li>MVC, routes, resources</li>
						<li>Model associations, validations, callbacks</li>
						<li>Partials, helpers, filters</li>
						<li>Agile practices</li>
						<li>Version Control w/ Git and Github</li>
					</ul>
				</div>
				<div class="class_list">
					<ul>	
						<li>Seed Data</li>
						<li>Sessions, Cookies</li>
						<li>Authentication, Authorization</li>
						<li>Search Functionality, Pagination</li>
						<li>Javascript, jQuery, AJAX</li>
					</ul>
				</div>
			</div>
<div class="clear"></div>
		
		<div class="education">
			<div class="education_header">
				<div class="school">
					<h3>University of Illinois at Urbana-Champaign</h3>
					<p>Bachelor of Science in General Engineering</p>
					<p>Secondary Field of Study in Entrepreneurship</p>
				</div>
				<date>August 2005 - May 2009</date>
			</div>
			<div class="clear"></div>
			<p>Related Coursework:</p>
			<div class="class_list">
				<ul>
					<li>Introductory Computer Science</li>
					<li>Database Design and Implementation</li>
					<li>Principles of Marketing</li>
					<li>Mgmt and Organizational Behavior</li>
				</ul>
			</div>
			<div class="class_list">
				<ul>	
					<li>Advanced Probability and Statistics</li>
					<li>Optimization Methods for Engineering</li>
					<li>Electrical and Computer Science</li>
					<li>Control Systems</li>
				</ul>
			</div>
		</div>
<div class="clear"></div>
<!-- # **********  experience ********** -->

		<h2>PROFESSIONAL EXPERIENCE</h2>
			
			<div class="experience">
				<div class="experience_header">
					<div class="company">
						<h3>Colony Display Systems, Elgin, IL</h3>
						<p>Project Engineer</p>
					</div>
					<date>September 2010 - February 2012</date>
				</div>
				<div class="clear"></div>
				<div class="job description">
					<ul>
						<li>Developed point of purchase displays and retail fixtures from initial concept renderings and provided engineering support through production</li>
						<li>Created 3D models and 2D manufacturing drawings using AutoCAD Inventor</li>
						<li>Collaborated with cross-functional teams to develop new prototype concepts and solve design challenges</li>
						<li>Successfully lead the design of the first display for a large national retailer,
							which help the company to develop a new large account</li>
						<li>Value-engineered designs to minimize costs and win bids for new projects</li>
						<li>Worked on the Engineering Innovation Group to develop engineering standards,
								training documents, and how-to’s to increase efficiency and consistency in the department</li>
					</ul>
				</div>
			</div>
<div class="clear"></div>
			<div class="experience">
				<div class="experience_header">
					<div class="company">
						<h3>Life’s Otherside LLC, Mt. Prospect, IL </h3>
						<p>Co-founder</p>
					</div>
					<date>July 2009-March 2011</date>
				</div>
				<div class="clear"></div>
				<div class="job description">
					<ul>
						<li>Led a group in the planning and implementation of an online retail store</li>
						<li>Produced timelines, formulated budgets, developed product placement and inventory strategy as well as long-term goals</li>
						<li>Oversaw marketing strategies related to business objectives</li>
					</ul>
				</div>
			</div>
<div class="clear"></div>
			<div class="experience">
				
				<div class="experience_header">
					<div class="company">
						<h3>Rehrig Pacific Company, Kenosha, WI</h3>
						<p>Engineering Intern</p>
					</div>
					<date>Summer 2008</date>
				</div>
				<div class="clear"></div>
				<div class="job_description">
					<ul>
						<li>Planned the integration of a robotic system for a 1300-ton injection molding machine which automated removal, branding, and stacking of parts</li>
						<li>Introduced an induction heating system for an injection molding machine’s barrel to reduce energy usage</li>
						<li>Planned and installed the water piping and manifolds for a new injection molding machine</li>
						<li>Analyzed material flow systems for an injection molding machine</li>
					</ul>
				</div>
			
			</div>
</div>
<!-- # **********  education  ********** -->


</body>