<div class="clear">
	
</div>

<div id="footer">
	<div class="social-media-links">
		<ul>
			
			<li><%= link_to image_tag("linkedin.png", :title => "LinkedIn"), "http://www.linkedin.com/in/khoffma4", :target => "blank" %></li>
			
			<li><%= link_to image_tag("github_icon.png", :class => "github_icon", :title => "Github"), "http://github.com/khoffma4", :target => "blank" %></li>
			
			<li><%= link_to image_tag("twitter.png", :title => "Twitter"), "https://twitter.com/khoffma4", :target => "blank" %></li>
			
			<!-- <li><%= image_tag "google.png", :title => "Google" %></li> -->
		</ul>		
</div>	