<div id="header">
	
	<div id="name" >
		<h1>
			<%= link_to "Kevin Hoffman", root_url %>
		</h1>
	</div>
	
	<%= render "layouts/menu"%>

<% if session[:user_id] %>
<%= link_to "Sign Out", logout_url %>
<% end %>

</div>